/*
 * Stash your files
 */

 * {
  font-family: "HelveticaNeue", "Arial";
  font-family: 'Josefin Sans', sans-serif;

 }
 html, body {
  margin: 0;
  padding: 0;
 }

#menu {
  background: rgba(58, 143, 178, 1);;

  top:0;
  left: 0;

  width: 100%;
  height: 50px;
}
#menu label {
  display: inline-block;
  color: white;
  font-size: 1.7em;
  text-align: left;
  padding-left: 50px;
  padding-top: 12px;
  top: 0;
}


/* Main */
#stash {
  background-color: rgba(58, 143, 178, 0.1);

  width: 500px;
  height: 309px;
  /*border: 0.3em solid;*/
  /*border-color: rgba(58, 143, 178, 0.4);*/

  position: relative;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;

  transition: width 0.5s cubic-bezier(.56, .21, .23, .85),
              height 0.45s cubic-bezier(.56, .21, .23, .85);
}

/* Add sign background */
#add {
  background: url("add.png") no-repeat center center;

  width: 100%;
  height: 100%;
  margin: auto;
}
#add label {
  /*color: rgba(212, 113, 34, 1);*/

  /*top: 92%;*/
}

#upload {
  position: relative;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
}
#progress {
  position: absolute;
  background: rgba(237, 138, 46, 1);
  background: rgba(28, 113, 148, 1);

  top: calc(100% + 1px);

  width: 0;
  height: 2px;
}
#upload label {
  /*position: absolute;*/
  /*display: block;*/
  /*color: white;*/
  /*color: rgba(237, 138, 46, 1);*/

  font-style: oblique;
  text-decoration: underline;

  /*top: 2px;*/
  /*bottom: 0.6em;*/
 /* width: 100%;
  height: 22px;*/
}

#preview {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  margin: 0;
}
#preview-img {
  width: 100%;
  height: 100%;
}

label {
  display: block;
  position: relative;

  color: rgba(28, 113, 148, 1);
  font-style: oblique;
  font-size: 1.1em;

  text-align: center;
  width: 100%;
  /*top: 7px;*/
  top: calc(100% + 7px);
}

.hidden {
  visibility: hidden;
  display: none;
}


