/*
 * Stash your files
 */

* {
  font-family: "HelveticaNeue"
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.preview {
  width: 500px;
  height: 309px;
  margin: auto;
}

.info {
  display: block;
  text-align: center;
  width: 100%;
  height: 21px;
  margin: 20px auto;
  color: gray;

  -webkit-transition: width 0.3s, color 0.3s;
  transition: width 0.3s, color 0.3s;
}
.upload {
  width: 72px;
  cursor: pointer;
  color: black;
}
.upload:hover {
  border-bottom: 2px #AAA solid;
}

.uploading {
  color: black;
  width: 100px;
  border-bottom: 4px #EEE solid;
  /* TODO add color: https://github.com/lokesh/color-thief/*/
}
.uploading .progress {
  display: block;
  visibility: visible;
  width: 0px;
  height: 4px;
  background: #888;
  position: absolute;
  margin-top: 3px;

  -webkit-transition: width 0.3s, color 0.3s;
  transition: width 0.3s, color 0.3s;
}

.hidden {
  display: none;
  visibility: hidden;
}