/*
 * Stash your files
 */

* {
  font-family: "HelveticaNeue";
  font-weight: lighter;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 480px;
  overflow: hidden;
}

.stsh {
  margin-top: 75px;
}
@media (max-height: 550px) {
  .stsh {
    margin-top: 30px;
  }
}
.preview {
  width: 500px;
  height: 309px;
  margin: 25px auto;
}
.empty {
  border: 3px dashed #AAA;
  background: url("/add.png") center center no-repeat;
}
.green {
  border: 3px dashed rgb(189, 211, 168);
}

.info {
  height: 21px;
  text-align: center;
  font-size: 17px;
  margin: 20px auto;

  -webkit-transition: width 0.2s, color 0.3s;
  transition: width 0.2s, color 0.3s;
}
.text {
  height: 18px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.uploading .text {
  color: transparent;
}
.upload {
  width: 72px;
  cursor: pointer;
  display: block;
  height: 23px;
  color: black;
  border-bottom: 2px #BBB solid;
}
.upload:hover {
  width: 100px;
}

.uploading {
  color: black;
  width: 100px;
  border-bottom: 2px #BBB solid;
  /* TODO add color: https://github.com/lokesh/color-thief/*/
}
.uploading .progress {
  display: block;
  visibility: visible;
  width: 0px;
  height: 2px;
  background: #555;
  position: absolute;
  margin-top: 3px;

  -webkit-transition: width 0.3s, color 0.3s;
  transition: width 0.3s, color 0.3s;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.restart {
  background: url("/restart.png");
  margin: 15px auto;
  width: 14px;
  height: 14px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s 0.5s;
  transition: opacity 1s 0.5s;
}
.link .restart {
  opacity: 0.5;
  visibility: visible;
}
.link .restart:hover{
  opacity: 1;
  -webkit-transition: 0;
  transition: 0;
}
.hidden {
  display: none;
  visibility: hidden;
}